name: Test Go Code

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
    test:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod
          cache: true

      - name: Cache Go tools
        uses: actions/cache@v4
        with:
          path: |
            /usr/local/bin/govulncheck
            /usr/local/bin/staticcheck
          key: ${{ runner.os }}-go-tools-${{ hashFiles('**/go.mod') }}

      - name: Install go tools
        run: |
          if ! command -v govulncheck &> /dev/null; then
            go install golang.org/x/vuln/cmd/govulncheck@latest
          fi
          if ! command -v staticcheck &> /dev/null; then
            go install honnef.co/go/tools/cmd/staticcheck@latest
          fi
        env:
          GOBIN: /usr/local/bin

      - run: go mod download

      - name: Run Static Analysis
        run: |
          staticcheck ./...
          govulncheck ./...

      - name: Run Tests
        run: |
          go test ./... -failfast -coverprofile=coverage.out

      - name: Upload Coverage Report
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: coverage.out
